/* Base styles */
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    padding-top: 56px;
    background-color: #ffffff;
    color: #333333;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    /* Adjust as needed */
}

p,
.lead,
.blog-meta {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
    /* Adjust as needed */
}

/* Navigation and Footer */
.navbar,
footer {
    background-color: #f8f9fa;
}

/* Links */
a,
a:visited {
    /* Styles for links */
    color: #728698;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #4a5c69;
    text-decoration: underline;
}

/* Layout and Alignment */
.blog-content {
    max-width: 800px;
    margin: auto;
    text-align: left;
}

.blog-title,
.blog-meta {
    text-align: center;
}

.intro {
    margin-top: 20px;
}

/* Components */
.social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: black;
}

.card {
    margin-bottom: 20px;
    border-color: transparent;
}

.card-img-top {
    max-height: 600px;
    object-fit: cover;
    border-radius: 5px;
}

.img-center {
    display: block;
    margin: 0 auto 20px;
    max-width: 80%;
    height: auto;
    border-radius: 5px;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
