/* Retro Styling */
body {
    font-family: "B612 Mono", monospace;
    background-image: url("Resources/Background.png");
    color: #42484C;
    text-align: center;
}

/* Apply Google Fonts */
body {
    font-family: "B612 Mono", monospace;
    background-color: #1AA5E0;
    color: #42484C;
    text-align: center;
}

h1, h2, h3 {
    font-family: "Aldrich", sans-serif;
}


.header {
    background-color: #FEBA33;
    color: #42484C;
    border: 2px solid #42484C;
    box-shadow: 3px 3px 0 #42484C;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    text-shadow: 3px 3px 0 #42484C;
    animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

.navbar {
    background-color: #FEBA33;
    border: 2px solid #42484C;
    box-shadow: 3px 3px 0 #42484C;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.navbar a {
    color: #42484C;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px;
}

.navbar a:hover {
    color: #FF5450;
}

.container {
    background-color: #39C5DB;
    border: 2px solid #42484C;
    box-shadow: 3px 3px 0 #42484C;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.cat-gif {
    border: 2px solid #42484C;
    box-shadow: 3px 3px 0 #42484C;
    max-width: 400px;
    width: 100%;
    height: auto;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.portfolio-item {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    text-align: center;
    background-color: #FEBA33;
    border: 2px solid #42484C;
    box-shadow: 3px 3px 0 #42484C;
    padding: 10px;
    width: 200px;
}

.portfolio-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.portfolio-item img {
    width: 100%;
    height: auto;
    border: 2px solid #42484C;
    box-shadow: 3px 3px 0 #42484C;
    margin-bottom: 10px;
}

.portfolio-item p {
    font-size: 1rem;
    color: #42484C;
    font-weight: bold;
}

.portfolio-item a {
    text-decoration: none;
}

.portfolio-item a:hover p {
    color: #FF5450;
}

.archived-posts {
    text-decoration: none;
}

.archived-posts p {
    text-decoration: none;
    color: #42484C;
}

.archived-posts:hover p {
    text-decoration: none;
    color: #FF5450;
}

.footer {
    background-color: #FEBA33;
    border: 2px solid #42484C;
    box-shadow: 3px 3px 0 #42484C;
    color: #42484C;
    padding: 10px;
    margin-top: 20px;
}

blink {
    animation: blink 2s infinite;
}
